.wrapper1 {
    display: grid;
    /*divide em quantidade de colunas*/
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 20px repeat(6, 1fr) 20px; */
    /* grid-template-columns: repeat(3, 1fr 2fr); */

    /* Definindo as rows com grid-auto-rows */
    /* grid-auto-rows: 200px; */

    grid-auto-rows: minmax(200px, auto) ;
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;

    /* 
Gutters ou alleys (gap -espaçamento  */
    grid-column-gap: 10px;
    grid-row-gap:1em;
  }

  .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .box2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }


  /*Estilo para as divs*/
.wrapper > div {      
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f; 
    font-weight: bold;
}